<p>task01 works!</p>
<p-button label="Click"></p-button>

<button mat-button color="primary" (click)="showDialog()">Primary</button>

<div style="text-align: center;">
    <form #form="ngForm" (ngSubmit)="onSave(form)">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label for="iconInput" class="form-label">Name</label>
                        <div class="form-icon">
                            <input type="text" class="form-control form-control-icon" name="name"
                                placeholder="Enter text input" [(ngModel)]="model.name" #name="ngModel" required>
                            
                        </div>

                        <label for="iconInput" class="form-label">Email</label>
                        <div class="form-icon">
                            
                            <input type="text" class="form-control form-control-icon" name="email"
                                placeholder="Enter email" [(ngModel)]="model.email" #email="ngModel" required
                                appEmailValidate>
                        </div>
                        <div>{{name.invalid}} - {{name.dirty}} - {{name.touched}}</div>
                        <hr>
                        <div>{{email.invalid}} - {{email.dirty}} - {{email.touched}}</div>
                        <div class="invalid-error" *ngIf="name.invalid && (name.dirty || name.touched)">
                            <span *ngIf="name.errors?.['required']">name required</span>

                        </div>
                        <div class="invalid-error" *ngIf="email.invalid && (email.dirty || email.touched)">
                            <span *ngIf="email.errors?.['required']">email required</span>
                            <span *ngIf="!email.errors?.['required'] && email.errors?.['emailValidateInvalid']">email invalid</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>