<p>pipes-common works!</p>
<div style="text-align: center;">
    <!-- <h1>{{title | lowercase}}</h1>
    <h1>{{title | uppercase}}</h1>
    <h1>{{date | date: "yyyy-MM-dd"}}</h1>
    <h1>{{date | date: "dd-MM-yyyy HH:mm:ss"}}</h1>
    <h1>{{title | titlecase}}</h1>
    <h1>{{money}}</h1>
    <h1>{{money | number: '1.2-3'}}</h1>
    <h1>{{money | number: '3.4-5'}}</h1>
    <h1>{{money | number: '2.1-2'}}</h1>
    <h1>{{title | slice:2:5}}</h1>
    <h1>{{title | slice:2:5 | uppercase}}</h1> -->
    <h1>{{1 | pipeCus}}</h1>
</div>
