<hr>
<div style="text-align: center;">
    <!-- <h1>{{token}}</h1> -->
    <!-- <input type="text" value="Hello world" [disabled]="false" /> -->

    <!-- <h1 class="success">Hello world</h1> -->

    <!-- <h1 [class]="classStringSuccess">Hello world</h1> -->

    <!-- <h1 [class]="classObj">Hello world</h1> -->

    <!-- <h1 [class]="classArray">Hello world</h1> -->

    <!-- <h1 [class.success]="false">Hello world</h1> -->

    <!-- <h1 [style.color]="false?'red':'green'">Hello world</h1> -->

    <!-- <h1 [style.width.px]="200">Hello world</h1> -->

    <!-- <button (click)="btnClick(); btnClick2()">Button click</button> -->

    <!-- <button (click)="btnClick($event);">Button click</button> -->

    <!-- <input [(ngModel)]="title" /> -->
    <!-- <h1>{{title}}</h1> -->
    <!-- <app-com02 [user]="userName" (userChange)="userChange($event)"></app-com02> -->
</div>
